
@{
    ViewData["Title"] = "Country Add Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StartAdminPanel.Areas.LOC_Country.Models.LOC_CountryModel

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Save">
            @Html.HiddenFor(x=>x.CountryId)
            @*<div class="form-group">
                <label>Country Id</label>
                <input type="text" asp-for="CountryId" placeholder="Enter Country Id" />
            </div>*@
            <div class="form-group">
                <label>Country Name</label>
                <input type="text" asp-for="CountryName" class="form-control" placeholder="Enter Country Name" />
            </div>
            <div class="form-group">
                <label>Country Code</label>
                <input type="text" asp-for="CountryCode" class="form-control" placeholder="Enter Country Code" />
            </div>
            @*<div class="form-group">
                <label>Created</label>
                <input type="date" asp-for="Created" class="form-control" />
            </div>
            <div class="form-group">
                <label>Modified</label>
                <input type="date" asp-for="Modified" class="form-control" />
            </div>*@
            <hr/>
            <button type="submit" asp-controller="LOC_Country" class="btn btn btn-primary" asp-action="Save">Add Country</button>

        </form>
    </div>
</div>







